.banner{
        background-color: #94463d;  
        color: white;
        text-align: center;
    }

.banner__titulo{
    font-size: 50px;
    font-family: serif;
}
.banner__texto{
    font-size: 18px;
    font-weight: 900;
    margin: 1em 0;
}